<nb-layout>
  <nb-layout-column class="p-0">

    <section class="container-fluid bg-primary py-md-0 py-5" style="height: 50vh;">
      <div class="row h-100">
        <div class="col d-flex justify-content-end align-items-end h-100">
          <div class="align-self-end p-5 d-md-block d-none">
            <h1 class="font-weight-bold text-secondary animate__animated animate__slideInDown" style="font-size: 4.5rem;">
              <img class="animate__animated animate__fadeIn" [src]="'assets/logo.png'" style="height: 9rem; width: 9rem;;"/>
              Garage Plug
            </h1>
            <h3
              class="font-weight-light font-italic text-secondary text-right mt-md-n4 mr-md-3  animate__animated animate__fadeIn animate__delay-1s">
              DETAILING CENTER</h3>
          </div>
          <div class=" d-md-none d-block p-4">
            <div class="row">
              <div class="col-12 animate__animated animate__slideInDown">
                <img [src]="'assets/logo.png'" style="height: 5rem; width: 5rem;" class="ml-0"/>
              </div>
              <div class="col-12  animate__animated animate__slideInUp animate__delay-1s">
                <h2 class="font-weight-bold text-secondary mt-2">
                  Garage Plug
                </h2>
              </div>
              <div class="col-12   animate__animated animate__fadeIn animate__delay-2s">
                <h6 class="font-weight-light font-italic text-secondary text-left mt-md-n4 ml-2">DETAILING CENTER</h6>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>

    <section class="container-fluid bg-white" style="height: 50vh;">
      <div class="row h-100">
        <div class="col d-flex justify-content-center align-items-center h-100">
          <div class="align-self-center">
            <button nbButton status="secondary" class="bg-white" size="giant" outline routerLink="../service">Select Services</button>
          </div>

        </div>
      </div>
    </section>

  </nb-layout-column>
</nb-layout>
