<section class="container-fluid mt-5 pt-5">
  <div class="row ">
    <div class="col-12">
      <h2 class="text-center  animate__animated animate__slideInDown">
        Checkout
      </h2>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-6 offset-md-3 mt-5">
      <h4 class="text-left font-weight-normal">
       Service Details
      </h4>
      <hr style="height:2px;border:none;color:#cacaca;background-color:#cacaca;"/>
      <h6 class="text-left font-weight-normal mt-4">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 offset-md-3 mt-5">
      <h4 class="text-left font-weight-normal">
        Customer Details
      </h4>
      <hr style="height:2px;border:none;color:#cacaca;background-color:#cacaca;"/>
      <h6 class="text-left font-weight-normal mt-4">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 offset-md-3 mt-5">
      <h4 class="text-left font-weight-normal">
        Price Details
      </h4>
      <hr style="height:2px;border:none;color:#cacaca;background-color:#cacaca;"/>
      <h6 class="text-left font-weight-normal mt-4">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
      <h6 class="text-left font-weight-normal mt-2">Lorem Ipsum has been the industry's standard</h6>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-6 offset-md-3 mt-5">
      <div class="float-left">
        <h1 class="font-weight-normal text-left " style="font-size: 3rem">TOTAL PRICE</h1>
      </div>
      <div class="float-right">
        <h1 class="font-weight-bold text-left " style="font-size: 3rem">XXXX</h1>
      </div>
    </div>


  </div>
  <div class="row my-5">
    <div class="col-12 d-flex justify-content-center align-items-center">
      <button nbButton
              outline status="info" size="giant" class="bg-white" routerLink="../service-no">Continue
      </button>
    </div>
  </div>
</section>
