@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/corporate';
@import "utils/utils";

$nb-themes: nb-register-theme((
  //theme colors
  color-primary-100: #FEFDFA,
  color-primary-200: #FDFCF6,
  color-primary-300: #F9F8F0,
  color-primary-400: #F4F2E9,
  color-primary-500: #EEEBDF,
  color-primary-600: #CCC3A3,
  color-primary-700: #AB9D70,
  color-primary-800: #8A7847,
  color-primary-900: #725E2A,
  color-primary-transparent-100: rgba(238, 235, 223, 0.08),
  color-primary-transparent-200: rgba(238, 235, 223, 0.16),
  color-primary-transparent-300: rgba(238, 235, 223, 0.24),
  color-primary-transparent-400: rgba(238, 235, 223, 0.32),
  color-primary-transparent-500: rgba(238, 235, 223, 0.4),
  color-primary-transparent-600: rgba(238, 235, 223, 0.48),
  color-success-100: #E7FCDF,
  color-success-200: #CBFAC0,
  color-success-300: #A6F29D,
  color-success-400: #83E681,
  color-success-500: #59D662,
  color-success-600: #41B854,
  color-success-700: #2C9A48,
  color-success-800: #1C7C3D,
  color-success-900: #116636,
  color-success-transparent-100: rgba(89, 214, 98, 0.08),
  color-success-transparent-200: rgba(89, 214, 98, 0.16),
  color-success-transparent-300: rgba(89, 214, 98, 0.24),
  color-success-transparent-400: rgba(89, 214, 98, 0.32),
  color-success-transparent-500: rgba(89, 214, 98, 0.4),
  color-success-transparent-600: rgba(89, 214, 98, 0.48),
  color-info-100: #F6F5F5,
  color-info-200: #EDECEC,
  color-info-300: #CBC9C9,
  color-info-400: #979595,
  color-info-500: #525151,
  color-info-600: #463B3C,
  color-info-700: #3B282B,
  color-info-800: #2F191F,
  color-info-900: #270F17,
  color-info-transparent-100: rgba(82, 81, 81, 0.08),
  color-info-transparent-200: rgba(82, 81, 81, 0.16),
  color-info-transparent-300: rgba(82, 81, 81, 0.24),
  color-info-transparent-400: rgba(82, 81, 81, 0.32),
  color-info-transparent-500: rgba(82, 81, 81, 0.4),
  color-info-transparent-600: rgba(82, 81, 81, 0.48),
  color-warning-100: #FFF9CC,
  color-warning-200: #FFF299,
  color-warning-300: #FFE867,
  color-warning-400: #FFDF41,
  color-warning-500: #FFD002,
  color-warning-600: #DBAE01,
  color-warning-700: #B78E01,
  color-warning-800: #937000,
  color-warning-900: #7A5A00,
  color-warning-transparent-100: rgba(255, 208, 2, 0.08),
  color-warning-transparent-200: rgba(255, 208, 2, 0.16),
  color-warning-transparent-300: rgba(255, 208, 2, 0.24),
  color-warning-transparent-400: rgba(255, 208, 2, 0.32),
  color-warning-transparent-500: rgba(255, 208, 2, 0.4),
  color-warning-transparent-600: rgba(255, 208, 2, 0.48),
  color-danger-100: #FFF0E7,
  color-danger-200: #FFDECF,
  color-danger-300: #FFC7B8,
  color-danger-400: #FFB2A6,
  color-danger-500: #FF8F89,
  color-danger-600: #DB6468,
  color-danger-700: #B74552,
  color-danger-800: #932B40,
  color-danger-900: #7A1A35,
  color-danger-transparent-100: rgba(255, 143, 137, 0.08),
  color-danger-transparent-200: rgba(255, 143, 137, 0.16),
  color-danger-transparent-300: rgba(255, 143, 137, 0.24),
  color-danger-transparent-400: rgba(255, 143, 137, 0.32),
  color-danger-transparent-500: rgba(255, 143, 137, 0.4),
  color-danger-transparent-600: rgba(255, 143, 137, 0.48),
  // scroll bar
  scrollbar-color:#cccccc,
  scrollbar-width:0.5rem,
  scrollbar-background-color:#fff,
  layout-background-color: #fff,
  //font family
  font-family-primary:'Avenir Next',
  //button
  button-rectangle-border-radius: 0.15rem,
  button-outline-border-width: 0.17rem,
  button-text-font-weight: 600,
), corporate, corporate);


