<section class="container-fluid mt-5 pt-5">
  <div class="row ">
    <div class="col-12">
      <h2 class="text-center  animate__animated animate__slideInDown">
        Service Number
      </h2>
    </div>
    <div class="col-md-6 offset-md-3 mt-5">
      <h2 class="text-left font-weight-normal">
        Payment Successful
      </h2>
      <hr style="height:2px;border:none;color:#cacaca;background-color:#cacaca;"/>
      <h6 class="text-left font-weight-normal mt-4">
        Please present the service member for the staff.
      </h6>

      <h1 class="font-weight-normal text-left mt-5 d-md-block d-none" style="font-size: 5rem">AW XXXX</h1>
      <h1 class="font-weight-normal text-left mt-5 d-md-none d-block" style="font-size: 2rem">AW XXXX</h1>

    </div>
  </div>
</section>
